@page "/counter"
@using SpacetimeDB
@using SpacetimeDB.Types
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject ServerApi ServerApi

<PageTitle>Web Chat</PageTitle>

<h1>Web Chat</h1>
@if (ServerApi.DbConnection?.IsActive ?? false)
{
    <h2>@ServerApi.DbConnection.Identity</h2>
    <ul>
        @foreach (var playerState in PlayerStates)
        {
            <li>
                @if (playerState.Key == ServerApi.DbConnection.Identity)
                {
                    <input @bind="@CurrentTyping" @bind:event="oninput" @bind:after="@HandleKeyDown" />
                }
                else
                {
                    <input @bind="@playerState.Value.Typing" disabled />
                }
            </li>
        }
    </ul>
}
else
{
    <h2>Loading...</h2>
}

@code {
    public Dictionary<Identity, PlayerState> PlayerStates => ServerApi.PlayerStates;
    private string CurrentTyping { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var tokenFromLocalStorage = await JS.InvokeAsync<string?>("localStorage.getItem", "token");
        ServerApi.Run(tokenFromLocalStorage, (token) =>
        {
            var _t = JS.InvokeVoidAsync("localStorage.setItem", "token", token);
        }, () => StateHasChanged());
        await base.OnInitializedAsync();
    }

    private void HandleKeyDown()
    {
        ServerApi.SetTyping(CurrentTyping);
    }

}