@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private int seed = new System.Random().Next();
    private int Tausworthe(int seed)
    {
        seed = seed ^ (seed >> 13);
        seed = seed ^ (seed << 18);
        return seed;
    }
}
